{% extends "layout.html"%}

{% block body %}
<h1>Welcome to the ATM</h1>
<ul >
    <li><a class="text-decoration-none" href="/atm/check-balance/">Check Balance</a></li>
    <li><a class="text-decoration-none" href="/atm/deposit-money/">Deposit Money</a></li>
    <li><a class="text-decoration-none" href="/atm/withdraw-money/">Withdraw Money</a></li>
    <li><a class="text-decoration-none" href="/atm/change-pin/">Change PIN</a></li>
    <li><a class="text-decoration-none" href="/atm/logout/">Logout</a></li>
</ul>
{% endblock %}